<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--scope默认是单例的-->
    <bean id="blueberryCheeseCake"
          class="spring.ch1.topic11.Cake"
          scope="prototype">
        <property name="name" value="blueberry cheese cake"/>
        <property name="size" value="5.0"/>
    </bean>

    <bean id="chocolateCheeseCake"
          class="spring.ch1.topic11.Cake"
          scope="prototype">
        <property name="name" value="chocolate cheese cake"/>
        <property name="size" value="6.0"/>
    </bean>

    <bean id="bananaAatmelMousseCake"
          class="spring.ch1.topic11.Cake"
          p:name="banana oatmel mousse cake" p:size="7"
          scope="prototype">
    </bean>

    <bean id="vanillaEclair"
          class="spring.ch1.topic11.Cake"
          p:name="vanilla eclair" p:size="8"
          scope="prototype">
    </bean>

    <bean id="ligueurPerfumedTripletCake"
          class="spring.ch1.topic11.Cake"
          p:name="ligueur perfumed triplet cake" p:size="5.5"
          scope="prototype">
    </bean>

    <bean id="bigOven"
          class="spring.ch1.topic11.Oven"
          p:name="bigOven"
          scope="singleton">
    </bean>

    <bean id="smallOven"
          class="spring.ch1.topic11.Oven"
          p:name="smallOven"
          scope="singleton">
    </bean>
    
    <bean id="jack" class="spring.ch1.topic11.Chief" p:name="jack">
        <property name="ovens">
            <set>
                <ref bean="bigOven"/>
                <ref bean="bigOven"/>
                <ref bean="smallOven"/>
            </set>
        </property>
        <property name="cakes">
            <list>
                <ref bean="blueberryCheeseCake" />
                <ref bean="chocolateCheeseCake" />
                <ref bean="bananaAatmelMousseCake" />
                <ref bean="vanillaEclair" />
            </list>
        </property>
    </bean>

    <bean id="rose" class="spring.ch1.topic11.Chief" p:name="rose">
        <property name="ovens">
            <set>
                <ref bean="smallOven"/>
            </set>
        </property>
        <property name="cakes">
            <list>
                <ref bean="vanillaEclair" />
                <ref bean="ligueurPerfumedTripletCake" />
                <ref bean="chocolateCheeseCake" />
            </list>
        </property>
    </bean>

</beans>
