<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="bigOven"
          class="spring.ch1.topic12.Oven"
          p:name="bigOven"
          scope="singleton">
    </bean>

    <bean id="smallOven"
          class="spring.ch1.topic12.Oven"
          p:name="smallOven"
          scope="singleton">
    </bean>
    
    <bean id="jack" class="spring.ch1.topic12.Chief" p:name="jack">
        <property name="ovens">
            <map>
                <entry key="bigOven" value-ref="bigOven"/>
                <entry key="bigOven" value-ref="bigOven"/>
                <entry key="smallOven" value-ref="smallOven"/>
            </map>
        </property>
    </bean>

    <bean id="rose" class="spring.ch1.topic12.Chief" p:name="rose">
        <property name="ovens">
            <map>
                <entry key="smallOven" value-ref="smallOven"/>
            </map>
        </property>
    </bean>

</beans>
